@page "/Cart"
@attribute [Authorize(Roles = "Admin,User,Seller")]
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager
@inject DBService dbService
@using MAGestionale.Authentication
@using MAGestionaleV2.Models
@using MAGestionale.Security
@using MAGestionale.Services
<PageTitle>I MIEI ORDINI</PageTitle>
<CardDeck>
    @foreach (Product p in products)
    {
        <Card>
            <CardImage Height=Height.Is50 Width=Width.Is100 Source="@Tools.PathToURL(p.ImagePath)"></CardImage>
            <CardBody>
                <CardTitle Size="5">@p.Name.ToUpper()</CardTitle>
                <CardText>
                    @p.Description
                </CardText>
                <Button Color="Color.Primary" @onclick="()=>Detail(p)">Dettagli</Button>
            </CardBody>
        </Card>
    }
</CardDeck>
@code
{
	List<Product> products = new();
	protected override async Task OnInitializedAsync()
	{
		var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
		var x = await customAuthStateProvider.GetAuthenticationStateAsync();
		var y = await dbService.GetUserByUsername(x.User.Identity.Name);
		products = await dbService.GetProductsByBuyer((y.ID));
	}
	private async Task Detail(Product product)
	{
		navManager.NavigateTo($"/Details?IdProduct={product.ID}");
	}

}
