@page "/Showcase"
@page "/Showcase/{IdSeller}"
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager
@inject DBService dbService
@using MAGestionale.Authentication
@using MAGestionale.Security
@using MAGestionale.Services
@using MAGestionaleV2.Models
@attribute [Authorize(Roles = "Admin,User,Seller")]

<PageTitle>I MIEI PRODOTTI</PageTitle>
<CardDeck>
    @foreach (Product p in products)
    {
        <Card>
            <CardImage Height=Height.Is50 Width=Width.Is75 Source="@Tools.PathToURL(p.ImagePath)"></CardImage>
            <CardBody>
                <CardTitle Size="5">@p.Name.ToUpper()</CardTitle>
                <CardText>
                    @p.Description
                </CardText>
                <Button Color="Color.Primary" @onclick="()=>Detail(p)">Dettagli</Button>
            </CardBody>
        </Card>
    }
</CardDeck>
@code
{
	List<Product> products = new();
	[Parameter]
	[SupplyParameterFromQuery(Name = nameof(IdSeller))]
	public string IdSeller { get; set; }
	protected override async Task OnInitializedAsync()
	{
		products = await dbService.GetProductsBySeller(long.Parse(IdSeller));

	}
	private async Task Detail(Product product)
	{
		navManager.NavigateTo($"/Details?IdProduct={product.ID}");
	}

}
